body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #20059b;
    color: white;
    padding: 1%;
    text-align: center;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
    padding-top: 4rem; /* Add padding to account for the fixed header height */
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #20059b;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0;
}
